# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle
/local.properties
caches
libraries
modules.xml
workspace.xml
navEditor.xml
assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
caches/build_file_checksums.ser
