body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

button, input[type=submit] {
    cursor: pointer;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    float: right;
    background-color: white;
}

.navbar {
    float: left;
    height: 100%;
    width: 5%;
    background-color: #4C4C4C;
}

.menu {
    float: left;
    right: 0;
    top: 0;
    height: 10%;
    width: 95%;
    background-color: white;
    position: fixed;
}

.views {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8;
    padding: 7% 2% 2% 2%;
}

.content-container {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 95%;
    background-color: blue;
}

.logo {
    height: 10%;
    width: 100%;
    background-color: #EC6FE4;
    margin-bottom: 40%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: turquoise;*/
    margin-bottom: 15%;
}

.home svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerElev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: wheat;*/
    margin-bottom: 15%;
}

.registerElev svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerForetag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: cornflowerblue;*/
    margin-bottom: 15%;
}

.registerForetag svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerPeriod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: red;*/
    margin-bottom: 15%;
}

.registerPeriod svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerKlass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: blue;*/
    margin-bottom: 15%;
}

.registerKlass svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translate(0.25 0.25);
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    transition: 0.2s;
    cursor: pointer;
}

.registerPlats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: rosybrown;*/
    margin-bottom: 15%;
}

.registerPlats svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.admin {
    display: flex;
    justify-content: center;
    float: right;
    width: 5%;
    height: 100%;
    margin-right: 5%;
}

.admin img {
    transform: scale(0.45);
}

#homeIcon:hover {
    fill: #EC6FE4;
}

.registerElev svg:hover {
    fill: #EC6FE4;
}

.registerForetag svg:hover {
    fill: #EC6FE4;
}

.registerPeriod svg:hover {
    fill: #EC6FE4;
}

.registerPlats svg:hover {
    fill: #EC6FE4;
}

.registerPage svg:hover {
    fill: #EC6FE4;
}

.narvaro {
    position: relative;
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 0% 1% 1% 1%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.narvaroTable {
    border-collapse: collapse;
    margin: 3% 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

#update {
    position: absolute;
    width: 5%;
    height: 3%;
    margin-left: 21.9%;
    margin-top: 0;
    background-color: yellow;
}

.updateForetag {
    position: absolute;
    width: 40%;
    height: 40%;
    display: block;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    overflow-y: auto;
    z-index: 2;
}

.updateElev {
    position: absolute;
    width: 55%;
    height: 65%;
    display: block;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    z-index: 2;
}

.deletePopUp {
    position: absolute;
    width: 40%;
    height: 30%;
    display: block;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    z-index: 2;
}

.deletePopUp form h1{
    text-align: left;
    font-family: sans-serif;
}

.deletePopUp form div {
    text-align: left;
    font-family: sans-serif;
    margin-top: 1%;
}

.updateForetag form, .updateElev form, .deletePopUp form {
    position: relative;
    height: 100%;
    width: 100%;
}

#updateForetag form label, #updateKlass form label, #updatePeriod label, #updatePlats form label, #updateElev form label, #updateHandledare form label  {
    position: relative;
    font-family: sans-serif;
    font-size: 0.9em;
}

#updateForetag form input[type=text], #updatePeriod input[type=date], #updatePeriod input[type=text], #updateKlass form input[type=text], #updateElev form input[type=text], #updateHandledare form input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 4.5vh;
    padding: 2% 2%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#updatePlats form select, #updateElevNarvaroIdag form select, #updateElevNarvaro form select {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.raderaBtn, #updateForetag form input[type=submit], #updateKlass form input[type=submit], #updatePlats form input[type=submit], #updateElevNarvaroIdag form input[type=submit], #updateElevNarvaro form input[type=submit], .deletePopUp form input[type=submit] {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0% 18% 4% 0%;
    width: 15%;
    padding: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#updateElev form input[type=submit], #updateHandledare form input[type=submit] {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0% 18% -2% 0%;
    width: 15%;
    padding: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#updateElev form .cancelButton,  #updateHandledare form .cancelButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0% 0% -2% 0%;
    width: 15%;
    padding: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#updateForetag form .cancelButton, #updateKlass form .cancelButton, #updatePlats form .cancelButton, #updateElevNarvaroIdag form .cancelButton, #updateElevNarvaro form .cancelButton, .deletePopUp form .cancelButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0% 0% 4% 0%;
    width: 15%;
    padding: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.elevMenu, .periodMenu, .klassMenu, .handledarMenu, .platsMenu, .foretagMenu {
    position: absolute;
    height: 65px !important;
    width: 100px !important;
    margin: 0% 0% 0% 0%;
    transform: translateX(-72.5px);
    display: none;
    background-color: yellowgreen;
    z-index: 1;
}

.elevMenu button, .periodMenu button, .handledarMenu button, .klassMenu button, .platsMenu button, .foretagMenu button {
    position: relative;
    width: 100%;
    height: 50%;
}

.narvaroTable tbody {
    display: block;
    height: 65.5vh;
    overflow: auto;
    overflow-x: hidden;
}

.narvaroTable th,
.narvaroTable td {
    padding: 12px 15px;
}

.narvaroTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.narvaroTable thead, .narvaroTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.narvaroTable tbody tr {
    border-bottom: 2px solid #4C4C4C;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: #aca1b4;
}

::-webkit-scrollbar-thumb {
    background: #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.narvaro div {
    position: relative;
    width: 100%;
    height: 8%;
    float: left;
    display: flex;
}

.narvaro span:first-of-type {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}

.narvaro span:nth-of-type(2) {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: auto;
}

.elevKlass {
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plats {
    position: relative;
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    vertical-align: top;
    margin-left: 2%;
}

.platsList {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    vertical-align: top;
}

.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-bottom: 15%;
}

.registerPage svg {
    transition: 0.2s;
    cursor: pointer;
}

h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}

.periodNarvaro {
    position: relative;
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 1%;
    margin-left: 2%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.periodNarvaro form {
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.elevList {
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.elevTable {
    border-collapse: collapse;
    margin: 3% 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

.elevTable tbody {
    position: relative;
    display: block;
    height: 67vh;
    overflow: auto;
    overflow-x: hidden;
}

.elevTable th,
.elevTable td {
    padding: 12px 13px;
    overflow-wrap: break-word;
}

.elevTable td:nth-child(3), .elevTable th:nth-child(3) {
    width: 14%;
}

.elevTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevTable thead, .elevTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.elevTable tbody tr {
    cursor: pointer;
    /*border-bottom: 2px solid gainsboro;*/
}

.elevTable tr:nth-child(even) {
    background-color: #EBEBEB;
}

.elevTable tr:last-child{
    border-bottom: 2px solid #4C4C4C;
}

.elevList select {
    float: right;
    margin-bottom: 2%;
}

.narvaroView {
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foretagList, .periodList {
    position: relative;
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 0% 1% 1% 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.klassList {
    position: relative;
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 0% 1% 1% 1%;
    margin-left: 2%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.platsList {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0% 1% 1% 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foretagListOptions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 99.9%;
    height: 8%;
}

.periodListHeader {
    position: relative;
    width: 99.9%;
}

#periodVy, #klassVy {
    width: 100%;
    height: 94%;
}

.foretagListOptions h1 {
    position: absolute;
    width: 30%;
    left: 0;
}

.foretagListOptions button{
    width: 15%;
    height: 50%;
}

.foretagVy {
    width: 100%;
    height: 94%;
    margin-top: 5%;
}

#handledarVy {
    position: absolute;
    top: 0;
    height: 94%;
    width: 96%;
    margin-top: 7%;
}

.foretagTable, .handledarTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

.foretagTable tr td:last-child, .foretagTable th:last-child, .handledarTable tr td:last-child, .handledarTable th:last-child, .elevTable tr td:last-child, .elevTable th:last-child, .elevklassTable tr td:last-child, .elevklassTable th:last-child {
    width: 9%;
}

.platsTable tr td:last-child, .platsTable th:last-child {
    width: 5%;
}

.foretagTable tr:nth-child(even), .handledarTable tr:nth-child(even) {
    background-color: #EBEBEB;
}

.foretagTable tbody, .handledarTable tbody {
    display: block;
    height: 67vh;
    overflow: auto;
    overflow-x: hidden;
}

.foretagTable th,
.foretagTable td,
.handledarTable th,
.handledarTable td {
    padding: 12px 15px;
    overflow-wrap: break-word;
}

/*.foretagTable th:last-child, .foretagList tbody tr td:last-child {
    width: 10%;
}*/

.foretagTable thead, .handledarTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.foretagTable thead, .foretagTable tbody tr, .handledarTable thead, .handledarTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.foretagTable tbody tr, .handledarTable tbody tr{
    cursor: pointer;
    /*border-bottom: 2px solid gainsboro;*/
}

.foretagTable tr:last-child, .handledarTable tr:last-child {
    border-bottom: 2px solid #4C4C4C;
}

.foretagList select {
    float: right;
    margin-bottom: 2%;
}

.foretagInfo {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    background-color: white;
}

.foretagInfo tbody {
    display: block;
    height: 74vh;
    overflow: auto;
    overflow-x: hidden;
}

.foretagInfo th,
.foretagInfo td {
    padding: 12px 15px;
}

.foretagInfo thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.foretagInfo thead, .foretagInfo tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.foretagInfo tbody tr {
    border-bottom: 2px solid #4C4C4C;
    cursor: pointer;
}

.foretagView {
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.handledarTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

.handledarTable tr:nth-child(even) {
    background-color: #EBEBEB;
}

.handledarTable tbody {
    display: block;
    height: 67vh;
    overflow: auto;
    overflow-x: hidden;
}

.handledarTable th,
.handledarTable td {
    padding: 12px 15px;
    word-break: break-all
}

.handledarTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.handledarTable thead, .handledarTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.handledarTable tbody tr {
    cursor: pointer;
    /*border-bottom: 2px solid gainsboro;*/
}

.handledarTable tr:nth-child(even) {
    background-color: #EBEBEB;
}

.handledarTable tr:last-child{
    border-bottom: 2px solid #4C4C4C;
}

.handledarInfo {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    background-color: white;
}

.handledarInfo tbody {
    display: block;
    height: 74vh;
    overflow: auto;
    overflow-x: hidden;
}

.handledarInfo th,
.handledarInfo td {
    padding: 12px 15px;
}

.handledarInfo thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.handledarInfo thead, .handledarInfo tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.handledarInfo tbody tr {
    border-bottom: 2px solid #4C4C4C;
    cursor: pointer;
}

.elevNarvaro {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    background-color: white;
}

.formSelect {
    width: 100%;
    height: 15%;
    background-color: white;
    margin-bottom: 0.5%;
}

.button {
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: darkgray;
    color: white;
    border: none;
    outline: none;
    padding: 0;
    border-right: 0.25vw solid white;
    font-size: 0.9em;
    font-family: sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.button2 {
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    border: none;
    outline: none;
    padding: 0;
    background-color: darkgray;
    color: white;
    font-size: 0.9em;
    font-family: sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.button3{
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    background-color: #4c4c4c;
    color: white;
}

.formArea {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
}

.formArea select {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ui-menu .ui-menu-item a{
    font-size: 13px;
}

.formArea input[type=text], .formArea input[type=tel], .formArea input[type=date], .formArea input[type=email]  {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formArea input[type=submit] {
    width: 100%;
    padding: 1% 1%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formArea #elevKlass {
    width: 20%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formArea3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
}

#regPlats {
    position: relative;
    height: 100%;
}
.periodSelectMenu {
    width: 100%;
    border-bottom: 2px solid darkgray;
}

.arrow-right {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4%;

}

.formArea3 input[type=text], .formArea3 input[type=tel], .formArea3 input[type=date], .formArea3 input[type=email]  {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formArea3 input[type=submit] {
    position: absolute;
    width: 100%;
    padding: 1% 1%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    bottom: 0;
    left: 0;
}

#regPlats #platsPeriod {
    width: 24%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 2px solid darkgray;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.PeriodP {
    width: 22.5%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#restElever {
    border: 2px solid darkgray;
    padding: 1%;
    margin-top: 1%;
    border-collapse: separate;
    border-spacing: 2px;
    position: absolute;
    display: inline-block;
    font-size: 14px;
    width: 20%;
    height: 64%;
    right: 0;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#regPlats #platsKlass {
    width: 22.5%;
    padding: 1% 1%;
    margin: 1.5% 0%;
    float: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formArea3 #elevKlass {
    width: 20%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hover {
    background-color: darkgray;
}

.formArea2 {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
    overflow-y: auto;
}

.formArea2 input[type=text], .formArea2 input[type=tel] , .formArea2 input[type=email]{
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height:4.5vh;
}

.formArea2 input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height:4.5vh;
}

.formArea2 input[type=submit] {
    width: 100%;
    padding: 1% 1%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

.formArea2 select {
    width: 20%;
    padding: 1% 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button:hover, .button2:hover {
    background-color: aqua;
}

.elevNarvaro tbody {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    height: 74vh;
}

.elevHolder {
    position: relative;
    width: 48.75%;
    height: 100%;
    padding: 0%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.foretagholder{
    position: relative;
    width: 48.75%;
    height: 100%;
    padding: 0%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.formHolder {
    position: absolute;
    width: 100%;
    height: 48%;
    background-color: white;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.elevNarvaro th,
.elevNarvaro td {
    padding: 12px 15px;
}

.elevNarvaro thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevNarvaro thead, .elevNarvaro tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.elevNarvaro tbody tr {
    border-bottom: 2px solid #4C4C4C;
}

.narvaroView h1 {
    text-align: center;
}

.foretagView h1 {
    text-align: center;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.elevklassTable {
    border-collapse: collapse;
    height: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

.elevklassTable tbody {
    display: block;
    height: 91%;
    overflow: auto;
    overflow-x: hidden;
}

.elevklassTable th,
.elevklassTable td {
    padding: 12px 15px;
}

.elevklassTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevklassTable thead, .elevklassTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.highlight {
    color: #EC6FE4;
}

.savers {
    display: none;
}

.elevklassTable tr:nth-child(even) {
    background-color: #EBEBEB;
}

.elevklassTable tr:last-child{
    border-bottom: 2px solid #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.platsTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

.platsTable th,
.platsTable td {
    position: relative;
    padding: 12px 15px;
    overflow-wrap: break-word
}

.platsTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.platsTable tbody {
    display: block;
    height: 67vh;
    overflow: auto;
    overflow-x: hidden;
}

.platsTable thead, .platsTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.platsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.platsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.platsTable tbody tr:last-of-type {
    border-bottom: 2px solid #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;

}

#regKlass {
    display: none;
}

#elevSearch {
    position: relative;
    float: left;
}

.row1 {
    width: 100%;
    height: 47.5%;
    margin-bottom: 2%;
    display: flex;
    gap: 2%;
}

.row2 {
    width: 100%;
    height: 47.5%;
    display: flex;
    gap: 2%;
}

.registerBox {
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.registerBoxMini {
    width: 24%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expand {
    position: absolute;
    width: 91.5%;
    height: 83%;
    z-index: 1;
    transition: 0.2s;
}

.expand2 {
    position: absolute;
    width: 91.5%;
    height: 83%;
    z-index: 1;
    transition: 0.2s;
    top: 13%;
}

.deletbox{
    width: 20%;
    height: 20%;
    z-index: 4;
    position: absolute;
    background-color: lawngreen;
    visibility: hidden;
}

.exit {
    position: absolute;
    width: 2.5%;
    height: 5%;
    right: 0;
    top: 0;
    padding: 1% 1%;
}
.uppdatebox{
    width: 20%;
    height: 20%;
    z-index: 4;
    position: absolute;
    background-color: lawngreen;
    visibility: hidden;
}

.regSida {
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    display: flex;
    /*gap: 2%;*/
}

.regMenu {
    width: 20%;
    height: 100%;
}

.regMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    border-left: 3px solid #EC6FE4;
}

.regMenu ul li {
    margin-bottom: 1%;
}

.regMenu ul li div{
    font-size: 1em;
    padding: 1% 1% 1% 5%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.regMenu ul li div:hover{
    color: #EC6FE4;
}

.active {
    color: #EC6FE4;
}

.regContent {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#snackbar {
    visibility: hidden;
    min-width: 20%;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 0.8%;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    font-size: 17px;
}

#info {
    min-width: 20%;
    color: black;
    text-align: center;
    height: 10%;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-family: sans-serif;
}

#info p {
    margin-top: 8%;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 12%; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 12%; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 12%; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 12%; opacity: 1;} 
    to {top: 0; opacity: 0;}
}