body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    float: right;
    background-color: white;
}

.navbar {
    float: left;
    height: 100%;
    width: 5%;
    background-color: #4C4C4C;
}

.menu {
    float: left;
    right: 0;
    top: 0;
    height: 10%;
    width: 95%;
    background-color: white;
    position: fixed;
}

.views {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8;
    padding: 7% 2% 2% 2%;
}

.content-container {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 95%;
    background-color: blue;
}

.logo {
    height: 10%;
    width: 100%;
    background-color: tomato;
    margin-bottom: 65%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: turquoise;*/
    margin-bottom: 15%;
}

.home svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}


.registerElev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: wheat;*/
    margin-bottom: 15%;
}

.registerElev svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerForetag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: cornflowerblue;*/
    margin-bottom: 15%;
}

.registerForetag svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerPeriod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: red;*/
    margin-bottom: 15%;
}

.registerPeriod svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.registerKlass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: blue;*/
    margin-bottom: 15%;
}

.registerKlass svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translate(0.25 0.25);
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    transition: 0.2s;
    cursor: pointer;
}

.registerPlats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /*background-color: rosybrown;*/
    margin-bottom: 15%;
}

.registerPlats svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

.admin {
    display: flex;
    justify-content: center;
    float: right;
    width: 5%;
    height: 100%;
    margin-right: 5%;
}

.admin img {
    transform: scale(0.45);
}

.home svg:hover {
    fill: #EC6FE4;
}

.registerElev svg:hover {
    fill: #EC6FE4;
}

.registerForetag svg:hover {
    fill: #EC6FE4;
}

.registerPeriod svg:hover {
    fill: #EC6FE4;
}

.registerKlass svg:hover {
    fill: #EC6FE4;
    stroke: #EC6FE4;
}

.registerPlats svg:hover {
    fill: #EC6FE4;
}

.narvaro {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.narvaroTable {
    border-collapse: collapse;
    margin: 3% 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

.narvaroTable tbody {
    display: block;
    height: 25vh;
    overflow: auto;
    overflow-x: hidden;
}

.narvaroTable th,
.narvaroTable td {
    padding: 12px 15px;
}

.narvaroTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.narvaroTable thead, .narvaroTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.narvaroTable tbody tr {
    border-bottom: 2px solid #4C4C4C;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: #D3D3D3;
}

::-webkit-scrollbar-thumb {
    background: #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.narvaro div{
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

.narvaro h1 {
    display: inline;
}

.foretag {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    box-sizing: border-box;
}

.elevklass {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    box-sizing: border-box;
}

.plats {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}


.narvaro h3 {
    display: inline;
    margin-left: 69.3%;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
}

.periodNarvaro {
    position: relative;
    width: 47.5%;
    height: 80%;
    background-color: white;
    padding: 1%;
    margin-left: 2%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.periodNarvaro form {
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.elevList {
    width: 48.75%;
    height: 100%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.elevList div {
    width: 100%;
    height: 94%;
    margin-top: 5%;
}

.elevTable {
    border-collapse: collapse;
    margin: 3% 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;

}

.elevTable tbody {
    display: block;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.elevTable th,
.elevTable td {
    padding: 12px 15px;
}

.elevTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevTable thead, .elevTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.elevTable tbody tr {
    cursor: pointer;
    border-bottom: 2px solid gainsboro;
}

.elevTable tr:last-child{
    border-bottom: 2px solid #4C4C4C;
}

.elevList select {
    float: right;
    margin-bottom: 2%;
}

.narvaroView {
    width: 48.75%;
    height: 50%;
    background-color: #e8e8e8;
    padding: 0%;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    vertical-align: top;
    margin-left: 2%;
}

.elevNarvaro {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    background-color: white;
}

.elevNarvaro tbody {
    display: block;
    height: 34vh;
    overflow: auto;
    overflow-x: hidden;
}

.elevNarvaro th,
.elevNarvaro td {
    padding: 12px 15px;
}

.elevNarvaro thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevNarvaro thead, .elevNarvaro tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.elevNarvaro tbody tr {
    border-bottom: 2px solid #4C4C4C;
    cursor: pointer;
}

.narvaroView h1 {
    text-align: center;
    margin-top: 18%;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.foretagTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

.foretagTable th,

.styled- th,
.foretagTable td {
    padding: 12px 15px;
}

.foretagTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.foretagTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.foretagTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.foretagTable tbody tr:last-of-type {
    border-bottom: 2px solid #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.elevklassTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

.elevklassTable th,

.styled- th,
.elevklassTable td {
    padding: 12px 15px;
}

.elevklassTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.elevklassTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.elevklassTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.elevklassTable tbody tr:last-of-type {
    border-bottom: 2px solid #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;
}

.platsTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
}

.platsTable th,

.styled- th,
.platsTable td {
    padding: 12px 15px;
}

.platsTable thead {
    background-color: #4C4C4C;
    color: white;
    text-align: left;
}

.platsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.platsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.platsTable tbody tr:last-of-type {
    border-bottom: 2px solid #4C4C4C;
}

.navbar svg.toggle-state {
    fill: #EC6FE4;

}